
<div class="column">
    <div class="modal-head"></div>
    <h2 mat-dialog-title></h2>
  <!--div mat-dialog-content>
    
    <p>What's your favorite color?</p>
    <mat-form-field>
      <input type="text" [(ngModel)]="number2" placeholder="1"><br><br>
      <input matInput [(ngModel)]="data.color">
  
      <input type="text" [(ngModel)]="number3" placeholder="1"><br><br>
    </mat-form-field>
  </div-->
  <div mat-dialog-actions>
    <button class="btnClass" (click)="calcACOULim()" value="CalcACOULim">Calc</button> <br>
    <button class="buttonClass" mat-button (click)="onNoClick()">No Thanks</button>
    <button class="buttonClass" mat-button [mat-dialog-close]="data.color" cdkFocusInitial>OK</button>
    </div> 
    <br><br>
    <b>Trend of Acoustic sand dectector Limit is: </b> <b>{{resultACOULim}}</b>
  </div>

