
<div class="row">

  <!---->
  <div class="column4">
    <div class="dropdown">
      <button class="dropbtn">Equipment</button>
      <div class="dropdown-content">
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder=".">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="openDialog()">PYpLim</button>
          </div>
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder=".">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_38Dialog()">PypComm</button>
          </div>
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_70Dialog()">PypOwn</button>
          </div>  
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_2Dialog()">Pp</button>
          </div>  
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_39Dialog()">PpComm</button>
          </div>  
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_68Dialog()">PpOwn</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_3Dialog()">PT</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_40Dialog()">PtComm</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_69Dialog()">PtOwn</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_1Dialog()">PE</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_41Dialog()">PeComm</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_66Dialog()">PeOwn</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_4Dialog()">Ve</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_56Dialog()">VeComm</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_75Dialog()">VeOwn</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_7Dialog()">A-Ap</button>
            </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
            <div>
              <button class="btnClass" mat-raised-button (click)="open_42Dialog()">A-ApComm</button>
            </div>  
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_57Dialog()">A-ApOwn</button>
          </div>  
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_8Dialog()">B-Ap</button>
          </div>  
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_44Dialog()">B-ApComm</button>
          </div>  
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_59Dialog()">B-ApOwn</button>
          </div>  
       </div>
    </div>
  </div>
  <div class="column4">
    <div class="dropdown">
      <button class="dropbtn">Production</button>
        <div class="dropdown-content">
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_17Dialog()">DDLim</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_9Dialog()">DDCurr</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_18Dialog()">DDNext</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_45Dialog()">DDComm</button>
        </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_60Dialog()">DDOwn</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_10Dialog()">DD1hrCurr</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_46Dialog()">DD1hrComm</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_20Dialog()">DD1hrNext</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_19Dialog()">DD1hrLim</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_61Dialog()">DD1hrOwn</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_11Dialog()">PI</button>
        </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_22Dialog()">PILim</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_51Dialog()">PIComm</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_67Dialog()">PIOwn</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_12Dialog()">Vc</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_54Dialog()">VcComm</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field> 
      <div>
        <button class="btnClass" mat-raised-button (click)="open_73Dialog()">VcOwn</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_23Dialog()">VcLim</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_13Dialog()">VsCurr</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_24Dialog()">VsLim</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_55Dialog()">VsComm</button>
      </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_74Dialog()">VsOwn</button>
      </div> 
    </div>
  </div>
</div>
<div class="column4">
  <div class="dropdown">
    <button class="dropbtn">Well Integrity</button>
      <div class="dropdown-content">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_25Dialog()">MBHPLim</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_26Dialog()">MBHPCurr</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_50Dialog()">MBHPComm</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_65Dialog()">MBHPOwn</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_27Dialog()">FWHTLim</button>
          </div>  
            <mat-form-field>
              <input matInput [(ngModel)]="name" placeholder="">
            </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_28Dialog()">FWHTCurr</button>
          </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_48Dialog()">FWHTComm</button>
        </div>  
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_63Dialog()">FWHTOwn</button>
      </div>  
    </div>
  </div>
</div>
<div class="column4">
  <div class="dropdown">
    <button class="dropbtn">Reservoir</button>
      <div class="dropdown-content">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_29Dialog()">AcouLim</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_30Dialog()">AcouCurr</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_43Dialog()">AcouComm</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_58Dialog()">AcouOwn</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_16Dialog()">SKCurr</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_31Dialog()">SkinLim</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_53Dialog()">SkinComm</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_72Dialog()">SkinOwn</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_15Dialog()">KHCurr</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_33Dialog()">KHLim</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_49Dialog()">KHComm</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_64Dialog()">KHOwn</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_34Dialog()">DepLim</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_35Dialog()">DepCurr</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_47Dialog()">DepComm</button>
        </div>  
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <div>
            <button class="btnClass" mat-raised-button (click)="open_62Dialog()">DepOwn</button>
          </div>  
        </div>
      </div>
    </div>
    <div class="column4">
      <div class="dropdown">
        <button class="dropbtn">Team</button>
          <div class="dropdown-content">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_36Dialog()">RiskLim</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_37Dialog()">RiskCurr</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_52Dialog()">RiskComm</button>
        </div>  
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
        <div>
          <button class="btnClass" mat-raised-button (click)="open_71Dialog()">RiskOwn</button>
        </div>  
      </div>
    </div>
  </div>
</div>

<!--div class="row">
<div class="column col2" >
  <div class="row">
    <div class="columnA">
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder=".">
      </mat-form-field>
      <div>
        <button class="btnClass1" mat-raised-button (click)="openDialog()">PYp</button>
      </div>
    </div>
    <div class="columnB">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass2" mat-raised-button (click)="open_38Dialog()">PypComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_70Dialog()">PypOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_2Dialog()">Pp</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_39Dialog()">PpComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_68Dialog()">PpOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_3Dialog()">PT</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_40Dialog()">PtComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_69Dialog()">PtOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_1Dialog()">PE</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_41Dialog()">PeComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_66Dialog()">PeOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_4Dialog()">Ve</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_56Dialog()">VeComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_75Dialog()">VeOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_5Dialog()">Pb</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_6Dialog()">HP</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_7Dialog()">A-Ap</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_42Dialog()">A-ApComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_57Dialog()">A-ApOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_8Dialog()">B-Ap</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_44Dialog()">B-ApComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_59Dialog()">B-ApOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_17Dialog()">DDLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_9Dialog()">DDCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_18Dialog()">DDNext</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_45Dialog()">DDComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_60Dialog()">DDOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_10Dialog()">DD1hrCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_46Dialog()">DD1hrComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_20Dialog()">DD1hrNext</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_19Dialog()">DD1hrLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_61Dialog()">DD1hrOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_11Dialog()">PI</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_22Dialog()">PILim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_51Dialog()">PIComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_67Dialog()">PIOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_12Dialog()">Vc</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_54Dialog()">VcComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_73Dialog()">VcOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_23Dialog()">VcLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_13Dialog()">VsCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_24Dialog()">VsLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_55Dialog()">VsComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_74Dialog()">VsOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_14Dialog()">Pr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_15Dialog()">KHCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_33Dialog()">KHLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_49Dialog()">KHComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_64Dialog()">KHOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_16Dialog()">SKCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_31Dialog()">SkinLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_53Dialog()">SkinComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_72Dialog()">SkinOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_25Dialog()">MBHPLim</button>
      </div>  
    </div>
   <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_26Dialog()">MBHPCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_50Dialog()">MBHPComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_65Dialog()">MBHPOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_27Dialog()">FWHTLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_28Dialog()">FWHTCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
    <div>
      <button class="btnClass" mat-raised-button (click)="open_48Dialog()">FWHTComm</button>
    </div>  
  </div>
  <div class="column1">
    <div class="floatClass">
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="">
      </mat-form-field>
    </div>
  <div>
    <button class="btnClass" mat-raised-button (click)="open_63Dialog()">FWHTOwn</button>
  </div>  
</div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_29Dialog()">AcouLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_30Dialog()">AcouCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_43Dialog()">AcouComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_58Dialog()">AcouOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_34Dialog()">DepLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_35Dialog()">DepCurr</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_47Dialog()">DepComm</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_62Dialog()">DepOwn</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_36Dialog()">RiskLim</button>
      </div>  
    </div>
    <div class="column1">
      <div class="floatClass">
        <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="">
        </mat-form-field>
      </div>
      <div>
        <button class="btnClass" mat-raised-button (click)="open_37Dialog()">RiskCurr</button>
      </div>  
    </div>
<div class="column1">
  <div class="floatClass">
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="">
    </mat-form-field>
  </div>
  <div>
    <button class="btnClass" mat-raised-button (click)="open_52Dialog()">RiskComm</button>
  </div>  
</div>
<div class="column1">
  <div class="floatClass">
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="">
    </mat-form-field>
  </div>
  <div>
    <button class="btnClass" mat-raised-button (click)="open_71Dialog()">RiskOwn</button>
  </div>  
</div>
</div>
</div-->
<br>
  <div class='row'>
    <table>
      <thead>
        <tr>
          <th><img style="width:60%" src="./../../../../assets/image/logo_ete.PNG" alt="logo"/></th>
          <th colspan="7"><h2 class="tb-head">Well Operating Envelope Dashboard</h2></th>
          <th colspan="2"></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th colspan="2" class="tb-head1">Company:</th>
          <th colspan="3" class="tb-head1">eTe Optimiza Technologies LLC </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th colspan="10"></th>
        </tr>
          <tr>
            <th class="tb-head1">Asset:</th>
            <th class="tb-head1 select">
              <select name="search_categories" id="search_categories">
                <option value="1" selected="selected">Asset 1</option>
                <option value="2">Asset 2</option>
                <option value="3">Asset 3</option>
                <option value="4">Asset 4</option>
              </select>
            </th>
            <th></th>
            <th></th>
            <th class="tb-head1">Reservoir:</th> 
            <th class="tb-head1">
              <select name="search_categories" id="search_categories">
                <option value="1" selected="selected">Reservoir 1</option>
                <option value="2">Reservoir 2</option>
                <option value="3">Reservoir 3</option>
                <option value="4">Reservoir 4</option>
              </select>
            </th> 
            <th></th>          
            <th class="tb-head1">Well Name:</th>
            <th class="tb-head1">
              <select name="search_categories" id="search_categories">
                <option value="1" selected="selected">Well 1</option>
                <option value="2">Well 2</option>
                <option value="3">Well 3</option>
                <option value="4">Well 4</option>
              </select>
            </th>
            <th></th>
          </tr>
        </thead>
      <tr>
        <th class="tb-head2">Envelope</th>
        <th class="tb-head2">Sign-Post</th>
        <th class="tb-head2">Symbol</th>
        <th class="tb-head2">Units</th>
        <th class="tb-head2 signLimit">Sign-Post-Limit</th>
        <th class="tb-head2 signFlag">Sign-Post-Flag</th>
        <th class="tb-head2">Current Period Flow Conditions</th>
        <th class="tb-head2">Next Period Flow Conditions</th>
        <th class="tb-head2">Commentary</th>
        <th class="tb-head2">Sign-Post-Owner</th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <th>
          <select name="search_categories" id="search_categories">
            <option value="1" selected="selected">stb/d</option>
            <option value="2">MMscfd</option>
            </select>
        </th>
        <th class=signLimit></th>
        <th class=signFlag></th>
        <th class="tb-head1">{{this.sharedService.storeFlowCurrValue}}</th>
        <th class="tb-head1">{{this.sharedService.storeFlowNextValue}}</th>
        <th></th>
        <th></th>
      <tr>
        <th colspan="4"></th>
        <th class=signLimit></th>
        <th class=signFlag></th>
        <th class="tb-head1">
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <button class="btnClass" mat-raised-button (click)="open_76Dialog()">QCurr</button>
        </th>
        <th class="tb-head1">
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="">
          </mat-form-field>
          <button class="btnClass" mat-raised-button (click)="open_77Dialog()">QNext</button>
        </th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td class="tb-head3">Equipment</td>
        <td>Yield Strength Collapse</td>
        <td >PYp</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storePYpValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagPYpValue}}</td>
        <td class="tb-body1"></td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storePypCommValue}}</td>
        <td>{{this.sharedService.storePypOwnValue}}</td>
      </tr>
      <tr>
        <td class="tb-head3"></td>
        <td>Plastic Collapse</td>
        <td >Pp</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storePpValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagPpValue}}</td>
        <td class="tb-body1"></td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storePpCommValue}}</td>
        <td>{{this.sharedService.storePpOwnValue}}</td>
      </tr>
      <tr>
        <td class=" tb-head3"></td>
        <td>Transition Collapse</td>
        <td >PT</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storePtValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagPtValue}}</td>
        <td class="tb-body1"></td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storePtCommValue}}</td>
        <td>{{this.sharedService.storePtOwnValue}}</td>
      </tr>
      <tr>
        <td class="tb-head3"></td>
        <td>Elastic Collapse</td>
        <td>PE</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storePeValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagPeValue}}</td>
        <td class="tb-body1"></td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storePeCommValue}}</td>
        <td>{{ this.sharedService.storePeOwnValue }}</td>
      </tr>
      <tr>
        <td class=" tb-head3"></td>
        <td>Erosion Velocity</td>
        <td>Ve</td>
        <td>ft/s</td>
        <td class="signLimit">{{this.sharedService.storeVeValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagVeValue}}</td>
        <td class="tb-body1"></td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storeVeCommValue}}</td>
        <td>{{this.sharedService.storeVeOwnValue}}</td>
      </tr>
      <tr>
        <td class=" tb-head3"></td>
        <td>A Annulus Pressure</td>
        <td>A-Ap</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storeAApValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagAApValue}}</td>
        <td class="tb-body1"></td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storeAapCommValue}}</td>
        <td>{{this.sharedService.storeAapOwnValue}}</td>
      </tr>
      <tr>
        <td class=" tb-head3"></td>
        <td>B Annulus Pressure</td>
        <td>B-Ap</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storeBApValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagBApValue}}</td>
        <td class="tb-body1"></td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storeBapCommValue}}</td>
        <td>{{ this.sharedService.storeBapOwnValue }}</td>
      </tr>
      <tr>
        <td class="tb-head4">Production</td>
        <td>Total DrawDown</td>
        <td>DD</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storeDDlValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagDDlValue}}</td>
        <td>{{ this.sharedService.storeDdValue }}</td>
        <td>{{ this.sharedService.storeDdnextValue }}</td>
        <td>{{this.sharedService.storeDDCommValue}}</td>
        <td>{{ this.sharedService.storeDdOwnValue }}</td>
      </tr>
      <tr>
        <td class="tb-head4"></td>
        <td>DrawDown 1hr</td>
        <td>DD1hr</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storeDd1hrlimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagDd1hrlimValue}}</td>
        <td>{{ this.sharedService.storeDd1hrcurrValue }}</td>
        <td>{{ this.sharedService.storeDd1hrnextValue }}</td>
        <td>{{this.sharedService.storeDD1hrCommValue}}</td>
        <td>{{ this.sharedService.storeDd1hrOwnValue }}</td>
      </tr>
      <tr>
        <td class="tb-head4"></td>
        <td>Productivity Index</td>
        <td>PI</td>
        <td>Trend</td>
        <td class="signLimit">{{this.sharedService.storePiLimValue}}</td>
        <td class="signFlag">{{this.sharedService.storeSignPostFlagPiLimValue}}</td>
        <td>{{ this.sharedService.storeDiffPiValue }}</td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storePiCommValue}}</td>
        <td>{{this.sharedService.storePiOwnValue}}</td>
      </tr>
      <tr>
        <td class="tb-head4"></td>
        <td>Casing Flow Velocity</td>
        <td>Vc</td>
        <td>ft/s</td>
        <td class="signLimit">{{this.sharedService.storeVcLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagVcLimValue}}</td>
        <td>{{ this.sharedService.storeVccurrValue }}</td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storeVcCommValue}}</td>
        <td>{{this.sharedService.storeVcOwnValue}}</td>
      </tr>
      <tr>
        <td class="tb-head4"></td>
        <td>Screen Flow Velocity</td>
        <td>Vs</td>
        <td class="tb-body1">ft/s</td>
        <td class="signLimit">{{this.sharedService.storeVsLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagVsLimValue}}</td>
        <td>{{ this.sharedService.storeVscurrValue }}</td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storeVsCommValue}}</td>
        <td>{{this.sharedService.storeVsOwnValue}}</td>
      </tr>
      <tr>
        <td class="tb-head5">Well Integrity/ Completion</td>
        <td>Minimum Bottom Hole Pressure</td>
        <td>MBHP</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storeMbhpLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagMbhpLimValue}}</td>
        <td>{{ this.sharedService.storeMbhpCurrValue }}</td>
        <td class="tb-body1"></td>
        <td>{{ this.sharedService.storeMbhpCommValue }}</td>
        <td>{{ this.sharedService.storeMbhpOwnValue }}</td>
      </tr>
      <tr>
        <td class="tb-head5"></td>
        <td>Flowing WellHead Temperature</td>
        <td>FWHT</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storeFwhtLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagFwhtLimValue}}</td>
        <td>{{ this.sharedService.storeFwhtCurrValue }}</td>
        <td class="tb-body1"></td>
        <td>{{ this.sharedService.storeFwhtCommValue }}</td>
        <td>{{this.sharedService.storeFwhtOwnValue}}</td>
      </tr>
      <tr>
        <td class="tb-head6">Reservoir</td>
        <td>Acoustic Sand Detector Activity</td>
        <td>ACOU</td>
        <td>Trend</td>
        <td class="signLimit">{{this.sharedService.storeAcouLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagAcouLimValue}}</td>
        <td>{{ this.sharedService.storeAcouCurrValue }}</td>
        <td class="tb-body1"></td>
        <td>{{ this.sharedService.storeAcouCommValue }}</td>
        <td>{{ this.sharedService.storeAcouOwnValue }}</td>
      </tr>
      <tr>
        <td class="tb-head6"></td>
        <td>Skin</td>
        <td>SK</td>
        <td>Trend</td>
        <td class="signLimit">{{this.sharedService.storeSkinLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagSkinLimValue}}</td>
        <td>{{ this.sharedService.storeDiffSKValue }}</td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storeSkinCommValue}}</td>
        <td>{{this.sharedService.storeSkinOwnValue}}</td>
      </tr>
      <tr>
        <td class="tb-head6"></td>
        <td>Permeability-Height</td>
        <td>KH</td>
        <td>Trend</td>
        <td class="signLimit">{{this.sharedService.storeKhLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagKhLimValue}}</td>
        <td>{{ this.sharedService.storeKHDiffValue }}</td>
        <td class="tb-body1"></td>
        <td>{{ this.sharedService.storeKHCommValue }}</td>
        <td>{{this.sharedService.storeKhOwnValue}}</td>
      </tr>
      <tr>
        <td class="tb-head6"></td>
        <td>Total Depletion</td>
        <td>DEP</td>
        <td>psi</td>
        <td class="signLimit">{{this.sharedService.storeDepLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagDeplimValue}}</td>
        <td>{{ this.sharedService.storeDepCurrValue }}</td>
        <td class="tb-body1"></td>
        <td>{{ this.sharedService.storeDepCommValue }}</td>
        <td>{{ this.sharedService.storeDepOwnValue }}</td>
      </tr>
      <tr>
        <td class=tb-head7>Team</td>
        <td>Overall Risk of Optimization</td>
        <td>RISK</td>
        <td>L/M/H</td>
        <td class="signLimit">{{this.sharedService.storeRiskLimValue}}</td>
        <td class="signFlag">{{this.sharedService.signPostFlagRiskLimValue}}</td>
        <td>{{ this.sharedService.storeRiskCurrValue }}</td>
        <td class="tb-body1"></td>
        <td>{{this.sharedService.storeRiskCommValue}}</td>
        <td>{{this.sharedService.storeRiskOwnValue}}</td>
      </tr>
    </table>
 <br><br>
    <h3>Button Symbols</h3>
    <ul id="menu">
      <li>
        Sign-Post-Limit ends with <b>'Lim';</b>
      </li>
      <li>
        Current Flow Period ends with <b>'Curr'; </b>
      </li>
      <li>
        Next Flow Period ends with <b>'Next';</b>
      </li>
      <li>
        Commentary ends with <b>'Comm';</b>
      </li>
      <li>
        Sign-Post-Owner ends with <b>'Own'</b>
      </li>
    </ul>

  </div>