 <mat-card class="card-style">
    <mat-grid-list cols="5" rowHeight="5:1">
      <mat-grid-tile><a routerLink="/" routerLinkActive="active"><a mat-raised-button class="button-po-main" target="_blank"><img class="button-po-main" src="./assets/image/postudio.png" alt="home-image" /></a></a></mat-grid-tile>
      <mat-grid-tile><h1>PO-STUDIO</h1></mat-grid-tile>
      <!--mat-grid-tile><a routerLink="/master-envelope" routerLinkActive="active"><a mat-raised-button class="button-po" target="_blank"><img class="logo" src="./assets/image/vwr.png" alt="vwr-image" />Master Envelope</a></a></mat-grid-tile-->
      
      <mat-grid-tile><a routerLink="/completion-envelope" routerLinkActive="active"><a mat-raised-button class="button-po" target="_blank"><img class="logo" src="./assets/image/at.png" alt="com-image" />Dashboard</a></a></mat-grid-tile>
      <mat-grid-tile><a routerLink="/production-envelope" routerLinkActive="active"><a mat-raised-button class="button-po" target="_blank"><img class="logo" src="./assets/image/at.png" alt="com-image" />Calculation Field</a></a></mat-grid-tile>
      <mat-grid-tile><a routerLink="/horner-plot" routerLinkActive="active"><a mat-raised-button class="button-po" target="_blank"><img class="logo" src="./assets/image/vwr.png" alt="vwr-image" />Pressure Plot</a></a></mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-divider></mat-divider> 
<router-outlet></router-outlet>
<br><br><br><br>


  