<br>
<div class="row">
  <div class="column10">
    <table>
      <tbody>
        <tr>
          <div class="menu">
            <ul>
              <li>
                <div class="dropbtn1">Casing Info</div>
                 <ul>
                  <li>
                    <mat-form-field>
                      <input matInput [(ngModel)]="name" placeholder="">
                    </mat-form-field>
                    <button class="btnClass" mat-raised-button (click)="open_5Dialog()">Pb</button>
                  </li>
                  <li>
                    <mat-form-field>
                      <input matInput [(ngModel)]="name" placeholder="">
                    </mat-form-field>
                      <button class="btnClass" mat-raised-button (click)="open_6Dialog()">HP</button>
                  </li>
                </ul>   
              </li>
            </ul>
          </div>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <div class="menu">
            <ul>
              <li>
                <div class="dropbtn">Production Info</div>
                 <ul>
                  <li>
                    <mat-form-field>
                      <input matInput [(ngModel)]="name" placeholder="">
                    </mat-form-field>
                    <button class="btnClass" mat-raised-button (click)="open_14Dialog()">Pr</button>
                  </li>
                  <li>
                    <mat-form-field>
                      <input matInput [(ngModel)]="name" placeholder="">
                    </mat-form-field>
                      <button class="btnClass" mat-raised-button (click)="open_100Dialog()">DDthr</button>
                  </li>
                  <li>
                    <mat-form-field>
                      <input matInput [(ngModel)]="name" placeholder="">
                    </mat-form-field>
                      <button class="btnClass" mat-raised-button (click)="open_101Dialog()">PI</button>
                  </li>
                </ul>   
              </li>
            </ul>
          </div>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <div class="menu">
            <ul>
              <li>
                <div class="dropbtn">Reservoir Info</div>
                 <ul>
                  <li>
                    <mat-form-field>
                      <input matInput [(ngModel)]="name" placeholder="">
                    </mat-form-field>
                    <button class="btnClass" mat-raised-button (click)="open_102Dialog()">KH</button>
                  </li>
                  <li>
                    <mat-form-field>
                      <input matInput [(ngModel)]="name" placeholder="">
                    </mat-form-field>
                      <button class="btnClass" mat-raised-button (click)="open_103Dialog()">SK</button>
                  </li>
                </ul>   
              </li>
            </ul>
          </div>
        </tr>
      </tbody> 
    </table>
  </div>
  <div class="column8">
    <div class="wrapper">
      <mat-tab-group>
        <!--mat-tab label="Reordering lists">
          <div cdkDropList class="movie-list" (cdkDropListDropped)="drop($event)">
            <div class="movie-block" *ngFor="let movieName of Movies" cdkDrag>{{movieName}}</div>
          </div>
        </mat-tab-->
        <mat-tab label="Transfer Items Between Lists">
          <div class="col3">
          <div class="container">
            <h2 class="head-h2">Envelope Items</h2>
            <div cdkDropList #moviesList="cdkDropList" [cdkDropListData]="MoviesList"
              [cdkDropListConnectedTo]="[doneMovieList]" class="movie-list" (cdkDropListDropped)="onDrop($event)">
              <div class="movie-block" *ngFor="let moviesList of MoviesList" cdkDrag>{{moviesList}}</div>
            </div>
          </div>
          </div>
          <div class="col3">
          <div class="container_A">
            <h2 class="head-h2">Envelope Item To Be Calculated</h2>
            <div cdkDropList #doneMovieList="cdkDropList" [cdkDropListData]="MoviesWatched"
              [cdkDropListConnectedTo]="[moviesList]" class="movie-list" (cdkDropListDropped)="onDrop($event)">
              <div class="movie-block" *ngFor="let moviesWatched of MoviesWatched" cdkDrag>{{moviesWatched}}</div>
            </div>
          </div>
        </div>
        </mat-tab>
      </mat-tab-group>
    </div>  
  </div>
  <h4 *ngIf="color">
    You selected: <p style="font-weight: bold">{{color}}</p>
  </h4>
<div class="column9" id="outer">
  <div class="calculator"id="inner">
    <input type="text" class="calculator-screen" [value]="currentNumber" disabled />   
    <div class="calculator-keys">

      <button class="calculatorbutton" type="button" (click) = "getOperation('+')" class="operator" value="+">+</button>
      <button class="calculatorbutton" type="button" (click) = "getOperation('-')" class="operator" value="-">-</button>
      <button class="calculatorbutton" type="button" (click) = "getOperation('*')" class="operator" value="*">&times;</button>
      <button class="calculatorbutton" type="button" (click) = "getOperation('/')" class="operator" value="/">&divide;</button>
          
      <button class="calculatorbutton" type="button" (click) = "getNumber('7')" value="7">7</button>
      <button class="calculatorbutton" type="button" (click) = "getNumber('8')" value="8">8</button>
      <button class="calculatorbutton" type="button" (click) = "getNumber('9')" value="9">9</button>
  
  
      <button class="calculatorbutton" type="button" (click) = "getNumber('4')" value="4">4</button>
      <button class="calculatorbutton" type="button" (click) = "getNumber('5')" value="5">5</button>
      <button class="calculatorbutton" type="button" (click) = "getNumber('6')" value="6">6</button>
  
  
      <button class="calculatorbutton" type="button" (click) = "getNumber('1')" value="1">1</button>
      <button class="calculatorbutton" type="button" (click) = "getNumber('2')" value="2">2</button>
      <button class="calculatorbutton" type="button" (click) = "getNumber('3')" value="3">3</button>
  
  
      <button class="calculatorbutton" type="button" (click) = "getNumber('0')" value="0">0</button>
  
      <button class="calculatorbutton" type="button" (click) = "getDecimal()" class="decimal" value=".">.</button>
      <button  class="calculatorbutton" type="button" (click) = "clear()"  class="all-clear" value="all-clear">AC</button>

      <button class="calculatorbutton" type="button" (click) = "getOperation('=')" class="equal-sign" value="=">=</button>
    </div>
  </div>
</div>
</div>
<br>
